<a href="https://colab.research.google.com/github/Behnaz81/PythonReview/blob/main/Control_Flow_and_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ex 1.** Write a program that checks if a given number is
positive, negative, or zero.

In [ ]:
num_input = int(input())
if num_input > 0:
  print(f"{num_input} is postive!")
elif num_input < 0:
  print(f"{num_input} is negative!")
else:
  print(f"{num_input} is zero!")

0
0 is zero!

**Ex 2.** Create a loop that prints the first 10 even numbers.

In [ ]:
even_nums = 0
num = 1
while even_nums < 10:
  if num % 2 == 0:
    print(num)
    even_nums += 1
  num += 1

2
4
6
8
10
12
14
16
18
20

**Ex 3.** Implement a program that finds the largest number in a list.

In [ ]:
num_list = [1, 5, 2, 6, 2, 74, 23, 43, -2354]
maximum = num_list[0]
for n in num_list:
  if n > maximum:
    maximum = n

print(f"The largest number is {maximum}")

The largest number is 74

**Ex 4.** Create a program that takes a year as input and checks if
it is a leap year or not.

In [ ]:
year = int(input())
if year % 4 == 0:
  if year % 100 == 0:
    if year % 400 == 0:
      print(f"{year} is a leap year.")
    else:
      print(f"{year} isn't a leap year")
  else:
    print(f"{year} is a leap year.")
else:
  print(f"{year} isn't a leap year.")

2000
2000 is a leap year.

**Ex 5.** Given a list of integers, find all the even numbers and
store them in a new list.

In [ ]:
num_list = [1, 5, 2, 6, 2, 74, 23, 43, -2354]
new_list = []
for n in num_list:
  if n % 2 == 0:
    new_list.append(n)
print(new_list)

[2, 6, 2, 74, -2354]

**Ex 6.** Write a Python program to check if a given number is a
prime number.

In [ ]:
num_input = int(input())
is_prime = True
for i in range(2, num_input//2):
  if num_input % i == 0:
    is_prime = False
    break
if is_prime:
  print(f"{num_input} is a prime number.")
else:
  print(f"{num_input} isn't a prime number.")

20
20 isn't a prime number.

**Ex 7.** Create a program that generates the Fibonacci sequence
up to a given number of terms.

In [ ]:
num_of_terms = int(input())
a0 = 1
a1 = 1
print(a0)
print(a1)
for i in range(num_of_terms - 2):
  a2 = a0 + a1
  a0 = a1
  a1 = a2
  print(a1)

4
1
1
2
3

**Ex 8.** Given a list of names, print all names starting with the
letter 'A'.

In [ ]:
names_list = ["Ali", "Ahmad", "Fateme", "Melika", "Zahra", "Hana", "Salehe", "Behnaz", "Sima", "Yegane"]
for name in names_list:
  if name.startswith("A"):
    print(name)

Ali
Ahmad

**Ex 9.** Implement a program that prints the multiplication table
of a given number.

In [ ]:
num = int(input())
for i in range(1, 11):
  mult = num * i
  print(f"{num} * {i} = {mult}")

9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

**Ex 10.** Write a program that calculates the factorial of a given
number.

In [ ]:
num = int(input())
fact = 1
for i in range(1, num + 1):
  fact *= i
print(f"{num}! = {fact}")

5
5! = 120

**Ex 11.** Create a loop that prints all prime numbers between 1 and
50.

In [ ]:
for num in range(2, 51):
  is_prime = False
  for n in range(2, num // 2):
    if num % n == 0:
      is_prime = True
  if not is_prime:
    print(num)

2
3
4
5
7
11
13
17
19
23
29
31
37
41
43
47

**Ex 12.** Given a list of words, count the number of words with
more than five characters.

In [ ]:
names_list = ["Ali", "Ahmad", "Fateme", "Melika", "Zahra", "Hana", "Salehe", "Behnaz", "Sima", "Yegane"]
count_of_more_that_five_chars = 0
for n in names_list:
  if len(n) > 5:
    count_of_more_that_five_chars += 1
print(f"There are {count_of_more_that_five_chars} words in the list.")

There are 5 words in the list.

**Ex 13.** Calculate the sum of digits of a given number.

In [ ]:
num = int(input())
sum_digits = 0
while num > 0:
  sum_digits += num % 10
  num //= 10
print(f"sum of digits: {sum_digits}")

453
sum of digits: 12