<a href="https://colab.research.google.com/github/Behnaz81/PythonReview/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ex 1.** Write a function to calculate the area of a circle
given its radius.

In [ ]:
import math

def calculate_area_circle(r):
  return r ** 2 * math.pi

print(calculate_area_circle(1))

3.141592653589793

**Ex 2.** Create a function to check if a number is prime.

In [ ]:
def is_prime(num):
  for i in range(2, num // 2):
    if num % i == 0:
      return False
  return True

print(is_prime(17))
print(is_prime(15))

True
False

**Ex 3.** Implement a function that reverses a given string.

In [ ]:
def reverse_string(my_string):
  reversed = ""
  for i in range(len(my_string) - 1, -1, -1):
    reversed += my_string[i]
  return reversed

print(reverse_string("Hello"))

olleH

**Ex 4.** Given a list of numbers, create a function to find the sum
of all positive numbers.

In [ ]:
def sum_of_positives(list_numbers):
  summation = 0
  for i in list_numbers:
    if i > 0:
      summation += i
  return summation

list_nums = [1, 45 , -2, 5]
print(sum_of_positives(list_nums))

51

**Ex 5.** Write a Python function to check if a given string is a
palindrome.

In [ ]:
def is_palindrome(my_string):
  reversed = reverse_string(my_string)
  if reversed == my_string:
    return True
  return False

print(is_palindrome("MkM"))
print(is_palindrome("ool"))

True
False

**Ex 6.** Implement a function that returns the factorial of a given
number using recursion.

In [ ]:
def fact(num):
  if num == 0:
    return 1
  else:
    return num * fact(num - 1)
print(fact(5))

120

**Ex 7.** Create a function to find the square of each element in a
given list.

In [ ]:
def squared_list(my_list):
  returned_list = []
  for i in my_list:
    returned_list.append(i ** 2)
  return returned_list
print(squared_list([2, 4, 12]))

[4, 16, 144]

**Ex 8.** Write a function to check if a number is even or odd and
return "Even" or "Odd" accordingly.

In [ ]:
def is_even_odd(num):
  if num % 2 == 0:
    return "Even"
  else:
    return "Odd"

print(is_even_odd(20))
print(is_even_odd(33))

Even
Odd

**Ex 9.** Calculate the area of a triangle given its base and height
using a function.

In [ ]:
def calculate_area_triangle(base, height):
  return 0.5 * base * height
print(calculate_area_triangle(4, 3))

6.0

**Ex 10.** Create a function that takes a list of strings and returnsthe list sorted alphabetically.

In [ ]:
def sort_alphabetically(string_list):
  return sorted(string_list, key=str.lower)

my_list = ["Hello", "ahmad", "Behnaz", "Sima"]
sort_alphabetically(my_list)

['ahmad', 'Behnaz', 'Hello', 'Sima']

**Ex 11.** Write a function that takes two lists and returns their
intersection (common elements).

In [ ]:
def intersection(list_one, list_two):
  intersect = []
  for element in list_one:
    if element in list_two:
      intersect.append(element)
  return intersect

list1 = ["Hi", "2", "42", "Gift"]
list2 = ["2", "Hello", "jeff", "Hi"]
print(intersection(list1, list2))

['Hi', '2']

**Ex 12.** Implement a function to check if a given year is a leap
year or not.

In [ ]:
def is_leap(year):
  if year % 4 == 0:
    if year % 100 == 0:
      if year % 400 == 0:
        return True
      else:
        return False
    else:
      return True
  else:
    return False

**Ex 13.** Create a function that takes a number as input and prints
its multiplication table.

In [ ]:
def print_mult_table(num):
  for i in range(11):
    print(f"{num} * {i} = {num*i}")

print_mult_table(4)

4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40